<div class="container">
    <h1 class="text-center" id="header-text">Ramens Mania!</h1>
    <br>
    <div id="ramen-def">
      <h5>
        <em>
        Ramen is a Japanese dish. It consists of Chinese-style wheat noodles served in a meat or fish-based broth, often flavored with soy sauce or miso, and uses toppings such as sliced pork, dried seaweed, menma, and green onions.
        </em>
        <a href="https://en.wikipedia.org/wiki/Ramen">Wiki Pedia</a>
      </h5>
      <hr>
    </div>

    <div id="ramen-content">
  <div class="row">
    <div class="col-md-6">
        <h2>Orders</h2>
			     {{#each ramens}}
			        {{#unless this.slurped}}
                <h5>
                  <img src="assets/img/ramen.png" width="30px">
			           {{this.id}}
			        {{this.name}}
            </h5>
            <form action="/{{this.id}}?_method=PUT" method="POST">
			 <input type="hidden" name="slurped" value="true">
			    <button class="btn btn-info" type="submit">Slurped It!</button>
	         </form>
           <br>
			   {{/unless}}
			      {{/each}}
                </div>

          <div class="col-md-6">
              <h2>Slurped</h2>
			           {{#each ramens}}
			            {{#if this.slurped}}
                    <h5>
                      <img src="assets/img/ramen.png" width="30px">
			      	          {{this.id}}
			                   {{this.name}}
                    </h5>
                    <br>
			            {{/if}}
			           {{/each}}
            </div>
          </div>
        </div>

        <div class="row" id="ramen-form">
            <div class="col-lg-12">
              <h5>What's your favorite ramen?</h5>
                <form class="form-inline" role="form" action="/" method="POST">
                  <div class="form-group">
                    <label class="sr-only" for="ca">Ramen</label>
                    <input type="text" class="form-control transparent" id="ca" name="name" placeholder="Curry Fish Ramen" required>
                  </div>
                <button type="submit" class="btn btn-danger btn-fill">Submit</button>
              </form>
            </div>
          </div>

<footer class="container">
  <p class="text-center">
    Maiyer Thao &copy; 2018
  </p>
</footer>
